# EXT_CSD Register Map
# Name  Field   Size (Bytes)    Cell Type   CSD-slice
Reserveded  6   TBD [511:506]
Extended Security Commands Error    EXT_SECURITY_ERR    1   R   [505]
Supported Command Sets  S_CMD_SET   1   R   [504]
HPI features    HPI_FEATURES    1   R   [503]
Background operations support   BKOPS_SUPPORT   1   R   [502]
Max packed read commands    MAX_PACKED_READS    1   R   [501]
Max packed write commands   MAX_PACKED_WRITES   1   R   [500]
Data Tag Support    DATA_TAG_SUPPORT    1   R   [499]
Tag Unit Size   TAG_UNIT_SIZE   1   R   [498]
Tag Resources Size  TAG_RES_SIZE    1   R   [497]
Context management capabilities CONTEXT_CAPABILITIES    1   R   [496]
Large Unit size LARGE_UNIT_SIZE_M1  1   R   [495]
Extended partitions attribute support   EXT_SUPPORT 1   R   [494]
Supported modes SUPPORTED_MODES 1   R   [493]
FFU features    FFU_FEATURES    1   R   [492]
Operation codes timeout OPERATION_CODE_TIME OUT 1   R   [491]
FFU Argument    FFU_ARG 4   R   [490:487]
Reserveded      181 TBD [486:306]
Number of FW sectors correctly programmed   NUMBER_OF_FW_SECTO RS_CORRECTLY_PROGR AMMED 4   R   [305:302]
Vendor proprietary health report    VENDOR_PROPRIETARY_HEALTH_REPORT    32  R   [301:270]
Device life time estimation type B  DEVICE_LIFE_TIME_EST_TYP_B  1   R   [269]
Device life time estimation type A  DEVICE_LIFE_TIME_EST_TYP_A  1   R   [268]
Pre EOL information PRE_EOL_INFO    1   R   [267]
Optimal read size   OPTIMAL_READ_SIZE   1   R   [266]
Optimal write size  OPTIMAL_WRITE_SIZE  1   R   [265]
Optimal trim unit size  OPTIMAL_TRIM_UNIT_SI ZE 1   R   [264]
Device version  DEVICE_VERSION  2   R   [263:262]
Firmware version    FIRMWARE_VERSION    8   R   [261:254]
Power class for 200MHz, DDR at VCC= 3.6V    PWR_CL_DDR_200_360  1   R   [253]
Cache size  CACHE_SIZE  4   R   [252:249]
Generic CMD6 timeout    GENERIC_CMD6_TIME   1   R   [248]
Power off notification(long) timeout    POWER_OFF_LONG_TIM E    1   R   [247]
Background operations status    BKOPS_STATUS    1   R   [246]
Number of correctly programmed sectors  CORRECTLY_PRG_SECT ORS_NUM  4   R   [245:242]
1st initialization time after partitioning  INI_TIMEOUT_AP  1   R   [241]
Reserveded      1   TBD [240]
Power class for 52MHz, DDR at VCC = 3.6V    PWR_CL_DDR_52_360   1   R   [239]
Power class for 52MHz, DDR at VCC = 1.95V   PWR_CL_DDR_52_195   1   R   [238]
Power class for 200MHz at VCCQ=1.95V, VCC = 3.6V    PWR_CL_200_195  1   R   [237]
Power class for 200MHz, at VCCQ=1.3V, VCC = 3.6V    PWR_CL_200_130  1   R   [236]
Minimum Write Performance for 8bit at 52MHz in DDR mode MIN_PERF_DDR_W_8_52 1   R   [235]
Minimum Read Performance for 8bit at 52MHz in DDR mode  MIN_PERF_DDR_R_8_52 1   R   [234]
Reserved        1   TBD [233]
TRIM Multiplier TRIM_MULT   1   R   [232]
Secure Feature support  SEC_FEATURE_SUPPORT 1   R   [231]
Secure Erase Multiplier SEC_ERASE_MULT  1   R   [230]
Secure TRIM Multiplier  SEC_TRIM_MULT   1   R   [229]
Boot information    BOOT_INFO   1   R   [228]
Reserved        1   TBD [227]
Boot partition size BOOT_SIZE_MULTI 1   R   [226]
Access size ACC_SIZE    1   R   [225]
High-capacity erase unit size   HC_ERASE_GRP_SIZE   1   R   [224]
High-capacity erase timeout ERASE_TIMEOUT_MULT  1   R   [223]
Reliable write sector count REL_WR_SEC_C    1   R   [222]
High-capacity write protect group size  HC_WP_GRP_SIZE  1   R   [221]
Sleep current (VCC) S_C_VCC 1   R   [220]
Sleep current (VCCQ)    S_C_VCCQ    1   R   [219]
Production state awareness timeout  PRODUCTION_STATE_A WARENESS_TIMEOUT 1   R   [218]
Sleep/awake timeout S_A_TIMEOUT 1   R   [217]
Sleep Notification Timout1  SLEEP_NOTIFICATION_TI ME    1   R   [216]
Sector Count    SEC_COUNT   4   R   [215:212]
Reserved        1   TBD [211]
Minimum Write Performance for 8bit at 52MHz MIN_PERF_W_8_52 1   R   [210]
Minimum Read Performance for 8bit at 52MHz  MIN_PERF_R_8_52 1   R   [209]
Minimum Write Performance for 8bit at 26MHz, for 4bit at 52MHz  MIN_PERF_W_8_26_4_52    1   R   [208]
Minimum Read Performance for 8bit at 26MHz, for 4bit at 52MHz   MIN_PERF_R_8_26_4_52    1   R   [207]
Minimum Write Performance for 4bit at 26MHz MIN_PERF_W_4_26 1   R   [206]
Minimum Read Performance for 4bit at 26MHz  MIN_PERF_R_4_26 1   R   [205]
Reserved        1   R   [204]
Power class for 26MHz at 3.6V 1 R   PWR_CL_26_360   1   R   [203]
Power class for 52MHz at 3.6V 1 R   PWR_CL_52_360   1   R   [202]
Power class for 26MHz at 1.95V 1 R  PWR_CL_26_195   1   R   [201]
Power class for 52MHz at 1.95V 1 R  PWR_CL_52_195   1   R   [200]
Partition switching timing  PARTITION_SWITCH_TIM E  1   R   [199]
Out-of-interrupt busy timing    OUT_OF_INTERRUPT_TI ME  1   R   [198]
I/O Driver Strength DRIVER_STRENGTH 1   R   [197]
Device type DEVICE_TYPE 1   R   [196]
Reserveded      1   TBD [195]
CSD STRUCTURE   CSD_STRUCTURE   1   R   [194]
Reserved        1   TBD [193]
Extended CSD revision   EXT_CSD_REV 1   R   [192]
Modes Segment               
Command set CMD_SET 1   R/W/E_P [191]
Reserved        1   TBD [190]
Command set revision    CMD_SET_REV 1   R   [189]
Reserved        1   TBD [188]
Power class POWER_CLASS 1   R/W/E_P [187]
Reserved        1   TBD [186]
High-speed interface timing HS_TIMING   1   R/W/E_P [185]
Reserved        1   TBD [184]
Bus width mode  BUS_WIDTH   1   W/E_P   [183]
Reserved        1   TBD [182]
Erased memory content   ERASED_MEM_CONT 1   R   [181]
Reserved        1   TBD [180]
Partition configuration PARTITION_CONFIG    1   R/W/E & R/W/E_P [179]
Boot config protection  BOOT_CONFIG_PROT    1   R/W & R/W/C_P   [178]
Boot bus Conditions BOOT_BUS_CONDITIONS 1   R/W/E   [177]
Reserved        1   TBD [176]
High-density erase group definition ERASE_GROUP_DEF 1   R/W/E_P [175]
Boot write protection status registers  BOOT_WP_STATUS  1   R   [174]
Boot area write protection register BOOT_WP 1   R/W & R/W/C_P   [173]
Reserved        1   TBD [172]
User area write protection register USER_WP 1   "R/W,
R/W/C_P
& R/W/E_P"  [171]
Reserved        1   TBD [170]
FW configuration    FW_CONFIG   1   R/W [169]
RPMB Size   RPMB_SIZE_MULT  1   R   [168]
Write reliability setting register  WR_REL_SET  1   R/W [167]
Write reliability parameter register    WR_REL_PARAM    1   R   [166]
Start Sanitize operation    SANITIZE_START  1   W/E_P   [165]
Manually start background operations    BKOPS_START 1   W/E_P   [164]
Enable background operations handshake  BKOPS_EN    1   R/W [163]
H/W reset function  RST_n_FUNCTION  1   R/W [162]
HPI management  HPI_MGMT    1   R/W/E_P [161]
Partitioning Support    PARTITIONING_SUPPORT    1   R   [160]
Max Enhanced Area Size  MAX_ENH_SIZE_MULT   3   R   [159:157]
Partitions attribute    PARTITIONS_ATTRIBUTE    1   R/W [156]
Partitioning Setting    PARTITION_SETTING_ COMPLETED    1   R/W [155]
General Purpose Partition Size  GP_SIZE_MULT    12  R/W [154:143]
Enhanced User Data Area Size    ENH_SIZE_MULT   3   R/W [142:140]
Enhanced User Data Start Address    ENH_START_ADDR  4   R/W [139:136]
Reserved        1   TBD [135]
Bad Block Management mode   SEC_BAD_BLK_MGMNT   1   R/W [134]
Production state awareness  PRODUCTION_STATE_A WARENESS 1   R/W/E   [133]
Package Case Temperature is controlled  TCASE_SUPPORT   1   W/E_P   [132]
Periodic Wake-up    PERIODIC_WAKEUP 1   R/W/E   [131]
Program CID/CSD in DDR mode support PROGRAM_CID_CSD_DD R_SUPPORT    1   R   [130]
Reserved        2   TBD [129:128]
Vendor Specific Fields  VENDOR_SPECIFIC_FIEL D  64  <vendor specific>   [127:64]
Native sector size  NATIVE_SECTOR_SIZE  1   R   [63]
Sector size emulation   USE_NATIVE_SECTOR   1   R/W [62]
Sector size DATA_SECTOR_SIZE    1   R   [61]
1st initialization after disabling sector size emulation    INI_TIMEOUT_EMU 1   R   [60]
Class 6 commands control    CLASS_6_CTRL    1   R/W/E_P [59]
Number of addressed group to be Released    DYNCAP_NEEDED   1   R   [58]
Exception events control    EXCEPTION_EVENTS_CT RL  2   R/W/E_P [57:56]
Exception events status EXCEPTION_EVENTS_ST ATUS    2   R   [55:54]
Extended Partitions Attribute   EXT_PARTITIONS_ATTRI BUTE   2   R/W [53:52]
Context configuration   CONTEXT_CONF    15  R/W/E_P [51:37]
Packed command status   PACKED_COMMAND_ST ATUS  1   R   [36]
Packed command failure index    PACKED_FAILURE_INDE X   1   R   [35]
Power Off Notification  POWER_OFF_NOTIFICATI ON 1   R/W/E_P [34]
Control to turn the Cache ON/OFF    CACHE_CTRL  1   R/W/E_P [33]
Flushing of the cache   FLUSH_CACHE 1   W/E_P   [32]
Reserved        1   TBD [31]
Mode config MODE_CONFIG 1   R/W/E_P [30]
Mode operation codes    MODE_OPERATION_COD ES   1   W/E_P   [29]
Reserved        2   TBD [28:27]
FFU status  FFU_STATUS  1   R   [26]
Pre loading data size   PRE_LOADING_DATA_SI ZE  4   R/W/E_P [25:22]
Max pre loading data size   MAX_PRE_LOADING_DA TA_SIZE  4   R   [21:18]
Product state awareness enablement  PRODUCT_STATE_AWAR ENESS_ENABLEMENT 1   R/W/E & R   [17]
Secure Removal Type SECURE_REMOVAL_TYP E    1   R/W & R [16]
Reserved        16  TBD [15:0]
